<?xml version="1.0" encoding="UTF-8"?>
<config>
	<global>
		<models>
			<eschrade_pslogger>
				<class>Eschrade_PubSubLogger_Model</class>
			</eschrade_pslogger>
		</models>
		<helpers>
			<eschrade_pslogger>
				<class>Eschrade_PubSubLogger_Helper</class>
			</eschrade_pslogger>
		</helpers>
	     <log>
            <core>
                <writer_model>Eschrade_PubSubLogger_Model_Logger</writer_model>
            </core>
        </log>
        <resources>
			<redis>
				<hostname>127.0.0.1</hostname>
				<port>6379</port>
			</redis>
		</resources>
		<events>
			<controller_front_init_before>
				<observers>
					<pubsub_logger_init>
						<class>eschrade_pslogger/observer</class>
						<method>attachToAllEvents</method>
					</pubsub_logger_init>
				</observers>
			</controller_front_init_before>
			<controller_action_predispatch>
				<observers>
					<pubsub_logger_predispatch>
						<class>eschrade_pslogger/observer</class>
						<method>setFullActionName</method>
					</pubsub_logger_predispatch>
				</observers>
			</controller_action_predispatch>
		</events>
	</global>
	<frontend>
        <routers>
            <eschrade_pslogger>
                <use>standard</use>
                <args>
                    <module>Eschrade_PubSubLogger</module>
                    <frontName>pslogger</frontName>
                </args>
            </eschrade_pslogger>
        </routers>
       </frontend>
	<default>
		<dev>
			<pubsub_logger>
				<passthru>1</passthru>
				<endpoint>mage_logger</endpoint>
			</pubsub_logger>
		</dev>
	</default>
</config>